# Caches
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
.venv/
venv/

# Logs e dados
logs/
data/csv/**/*.csv

# Build
build/
*.egg-info/
dist/stilingue-etl/stilingue_etl
dist/stilingue-etl/stilingue_etl.exe

# Secrets
.env
*.key
*.pem

# IDE
.idea/
.vscode/
*.swp

# Sistema
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
