# Caches
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
.venv/
venv/

# Logs e dados
logs/
data/csv/
consolidado/

# Build
build/
*.egg-info/
dist/

# Secrets
.env
*.key
*.pem

# IDE
.idea/
.vscode/
*.swp

# Sistema
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
